<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <% if notice %>
      <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert"><%= alert %></p>
      <% end %>  
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
